<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Athletics</u></h1>
      <p>Athletics is a collection of sporting events that involve competitive running, jumping, throwing, and walking. The most common types of athletics competitions are track and field, road running, cross country running, and race walking.</p>
      <p>Events for male are: 100 m, 200 m, 400 m, 800 m,1500 m,5000 m race,
      110 m Hurdles, 400 m Hurdles race, 4x100 m Relay,4x400 m Relay race,
      Long Jump, High Jump, Triple Jump, Discus Throw, Javelin Throw,
      Hammer Throw, shot put, Pole Vault.
      </p>
      <p>Events for females are: 100 m, 200 m, 400 m, 800 m, 1500 m race,
      4x100 m Relay, 4x400 m Relay race, Long Jump, High Jump, shot put,
      Discus Throw.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>The competition shall be conducted under the International Athletic
        Federation Rules as adopted from time to time by AFI unless otherwise
        modified in these rules.
      </p>
      <p> Except for relay races, each team will be entitled to enter not more than
      two competitors plus one reserve per event. For relay races, not more
      than one entry of four with two reserves per event shall be accepted.
      </p>
      <p>As far as possible, changes, if any, should be intimated fifteen minutes
      before the start of the event. Lots for lanes will be drawn as soon as the
      first call is given.
      </p>
      <p>In a standard track of eight lanes, distribution of lanes and qualifying
      to subsequence round will be done as per standard rules for 100m,
      200m, 400m run.</p>
      <p>An Athlete can participate in a maximum of three events, excluding
      relays.</p>
      <p>Overall championship trophies will be awarded to the teams up to
       3rd position. The sum total of points secured in all the events by a
       team will determine 1st, 2nd and 3rd positions in Athletics.</p>
       <p>The corresponding points which will be awarded to a team for
       various events are indicated below.
      </p>
      <p><b>Individual Events:</b><br>
       1st position – 5 points <br>
       2nd position – 3 points <br>
       3rd position – 2 points <br>
       4th position – 1 points
      </p>
       <p><b>Relay Races:</b><br>
       1st position – 10 points<br>
       2nd position – 6 points 3rd position – 4 points 4th position – 2 points
      </p>
      <p> In case of a tie for an event, points will be shared by both the
       athletes and their corresponding teams as shown below. In case of
       relay events, the points will be double as the relay events have double
       weightage. <br>
       1st and 2nd position – 4 points <br>
       2nd and 3rd position – 2.5 points <br>
       3rd and 4th position – 1.5 points
       </p>
       <p> If an athlete, after qualifying in heats, does not participate in the finals
       without giving a valid reason, as per AFI rules, he/she may be debarred
       from the competition and will not be considered for best athlete. </p>
       <p>Best athlete for both Male and Female will be decided by the maximum
       number of points obtained by an athlete in the Athletics championship.
       In case of a tie for best athlete, the award will be shared.
       </p>
       <p>Certificates & medals shall be awarded to the 1st, 2nd & 3rd places in
       all the athletic events.</p>


    </div>






    {% endblock %}
