<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Athletics</u></h1>
      <p>Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). Badminton is often played as a casual outdoor activity in a yard or on a beach; formal games are played on a rectangular indoor court. Points are scored by striking the shuttlecock with the racquet and landing it within the opposing side's half of the court.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>The competition shall be conducted under the International Badminton
       Federation rules as adopted from time to time by the Badminton
       Association of India, unless otherwise modified.
       </p>
       <p>
         The tournament for men and women section will be conducted on the
 lines of Inter State Badminton Championship. Ties for men and women
 will be separately decided according to the pattern given below.
       </p>

       <p>
         The tie for men shall be decided by the combined result of 3 singles and
 2 doubles and for women by the results of 2 singles and one doubles.
 Result of a tie, however, can be declared when either of the competing
 teams wins 3 matches in men’s section and 2 matches in the women
 Result (Men and Women) of best of three sets (each set of 21 points).
       </p>

       <p>
         . The order of events shall be as follows:
 • MEN: First Singles/Second Singles/First Doubles/Third Singles/Second Doubles
 • WOMEN: First Singles/Doubles /Second Singles
       </p>

       <p>
         Numberofplayers:
 MEN: The number of players representing any team can be a maximum
 of 5 members.
 WOMEN: The number of players representing any team can be a maximum
 of 3 members.
       </p>

       <p>
         Tie will be resolved by successively applying the following criteria:
 1. Individual matches won/individual matches lost.
 2. Games won by the team/games lost by the team.
 3. Points for/Points against.
 The tally for all the matches played in the league fixture will be considered.
 Result (Men and Women) of best of three sets (each set of 21 points).
       </p>


    </div>






    {% endblock %}
