<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Basketball</u></h1>
      <p>
        Basketball is a limited contact sport played on a rectangular court. While most often played as a team sport with five players on each side, three-on-three, two-on-two, and one-on-one competitions are also common. The objective is to shoot a ball through a hoop 18 inches (46 cm) in diameter and 10 feet (3.048 m) high that is mounted to a backboard at each end of the court. The game was invented in 1891 by Dr. James Naismith.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
        The tournament will be conducted according to the International
 Basketball Federation Rules as adopted from time to time by the
 Indian Basketball Federation unless otherwise modified.
       </p>

       <p>
         The number of players representing any team will not be more than 12
 in case of men and not more than 12 certificates be awarded to a team.
       </p>

       <p>
         The number of players representing any team will not be more than 12
 in case of women and not more than 12 certificates will be awarded to
 a team.
       </p>

       <p>
         During matches if the score is same after the end of the scheduled time,
Basketball Federation Rules will be applied, i.e. the game shall continue
with as many extra periods of 5 minutes as is necessary to break the tie.
       </p>

       <p>
         On completion of the league matches, if two or more teams are on same
 points, then the tie shall be resolved as follows:
 i ) If two teams are tied, head-to-head wins among the teams will be
 considered to break the tie.
 ii) If more than two teams are equal in placing, a second classification
 will be established, taking into account only the results of the games
 between the teams that have tied.
 iii) If there are still teams tied alter the second classification, the basket
 average will be used to determine the placing, taking into account
 only the results of the games between the teams that tied.
 iv) If there are still teams tied, the placing will be determined using the
 goal average from the results of all their games played in the group.
       </p>

      

    </div>






    {% endblock %}
