<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Chess</u></h1>
      <p>
        Chess is a two-player strategy board game played on a chessboard, a checkered gameboard with 64 squares arranged in an 8×8 grid.[1] The game is played by millions of people worldwide.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>


    </div>






    {% endblock %}
