<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Chess</u></h1>
      <p>
        Chess is a two-player strategy board game played on a chessboard, a checkered gameboard with 64 squares arranged in an 8×8 grid.[1] The game is played by millions of people worldwide.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
        There will be 2 groups (A and B) each consisting of 4 teams.
       </p>

       <p>
         1 team will be of IITG in each group.
       </p>

       <p>
         Each team will consist of 5 (4+1) players i.e. 4 players will play in a match
 and 1 is extra.
       </p>

       <p>
         First there will be a round robin in each group and top 2 teams from
each group will qualify for semi-finals.
       </p>

       <p>
         If there is a tie between 2 teams for a place in semifinal spot then
 priority order to brake tie is.
 a. Head to head result will be taken into consideration.
 b. Sumofindividualpoints.
 c. Tie breaker match which will be 4 vs 4 with reduced time limit.
       </p>

       <p>
         If there is a tie between 3 teams, then priority order to break tie is
a. Sum of individual points.
b. Tie breaker match which will be 4vs4 with reduced time control.
       </p>

       <p>
         If there is a tie between 4 teams then the priority order for tie break
is sub points a and b under point F.
       </p>

       <p>
         Semifinals match will be A1 vs B2 and B2 vs A1
       </p>

       <p>Semifinals match will be A1 vs B2 and B2 vs A1</p>

       <p>
         Players must give the list of players who are going to play with the board
 number on which they are going to play only 2 minutes before scheduled
 time to the arbiter. Teams can change the order of the players in every
 match according to their wish. Any 4 players among 5 can play in any match
       </p>

       <p>
         Toss for color will be done on the first board only. Other boards will have
 the color with respect to first board. For example, if a team has white on
 board 1 then its color will be black, white, and black on boards no 2, 3,
 and 4 respectively.
       </p>

       <p>
         Time control will be 30 minutes + 30 sec increment from move 1.
       </p>

       <p>Time control for tie breakers is 5minutes + 3 sec increment form move 1.</p>


    </div>






    {% endblock %}
