<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Cricket</u></h1>
      <p>
        Cricket is a bat-and-ball game played between two teams of eleven players each on a cricket field, at the centre of which is a rectangular 22-yard-long pitch with a target called the wicket (a set of three wooden stumps topped by two bails) at each end. Each phase of play is called an innings during which one team bats, attempting to score as many runs as possible, whilst their opponents field. Depending on the type of match, the teams have one or two innings apiece and, when the first innings ends, the teams swap roles for the next innings. Except in matches which result in a draw, the winning team is the one that scores the most runs, including any extras gained.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
        Matches shall be played according to the ICC rules in force, as adopted
from time to time by the Board of Control for Cricket in India, unless
otherwise modified.
       </p>

       <p>
         All the matches will be conducted on league cum knock out basis and
each side is allowed to complete 20 overs unless the opposing team is
dismissed earlier. Each bowler can bowl a maximum of 4 overs. The
semi-finals and finals also will be of 20 overs.
       </p>

       <p>
         The bowling team is given 2 hours to complete its quota of 20 overs.
The penalty for every short over will be decided by the all captains
prior to the meet.
       </p>

       <p>
           No spike shoes will be used by the players.
       </p>

       <p>
         The cricket captains should discuss the rules and regulations for the
conduct of the cricket matches.
       </p>

       <p>
         If there is a tie, the team having the better run rate shall be considered
for deciding placing.
       </p>

       <p>
         The umpires are empowered to rearrange the number of overs by each
  side in the event of a delayed start or if play is suspended. The number
  of overs for the team batting second will not be reduced if the team
  batting first has been dismissed in fewer than agreed number of overs.
      </p>

      <p>
        Each Team shall submit a list of players not exceeding sixteen who may
 participate in the tournament. Not more than 16 certificates shall be
 awarded to a team.
      </p>

      <p>
        Rules regarding the postponement of cricket match due to rain
 a. When rain affects play during the innings of the first team itself,
 the match will be continued, from where it has been discontinued.
 The umpires will decide whether the ground is fit for play or not.
 b. When rain affects the play during the innings of the second team
 batting and if the team batting second has not yet batted for half the
 number of overs, the match will be manned as in “i”.
 c. If the team batting second has batted for more than half the overs
 and if further play is not possible on the same day, the winner is
 decided to be the team with better scoring rate at the particular
 point where and when the second team stopped batting.
      </p>

      <p>
        The winning team will be credited with 4 points and in case of draw
 both team will get 2 points each in the league stage.
      </p>

    </div>






    {% endblock %}
