<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Football</u></h1>
      <p>
        Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears. Sports commonly called 'football' in certain places include: association football (known as soccer in some countries); gridiron football (specifically American football or Canadian football); Australian rules football; rugby football (either rugby league or rugby union); and Gaelic football.[1][2] These different variations of football are known as football codes.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>


    </div>






    {% endblock %}
