<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Football</u></h1>
      <p>
        Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears. Sports commonly called 'football' in certain places include: association football (known as soccer in some countries); gridiron football (specifically American football or Canadian football); Australian rules football; rugby football (either rugby league or rugby union); and Gaelic football.[1][2] These different variations of football are known as football codes.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
        Matches shall be played according to the rules of FIFA as adopted
 from time to time by the All India Football Federation unless otherwise
 modified.
       </p>

       <p>
         The duration of each match shall be 70 minutes (35-5-35). During the
 league stage, after the expiry of play-time, if the tie still persists, the
 points shall be shared equally.
       </p>

       <p>
         Every team should submit a list of players, not exceeding 16, who
may participate in the tournament. Not more than 16 certificates
shall be awarded to a team.
       </p>

       <p>
         A maximum of 4 substitutions are allowed per game.
       </p>

       <p>
         No extra time will be given in knockout stage of football matches
 even if the match is drawn. There will be direct penalty shootout
 to decide the winner.
       </p>

       <p>
          The yellow cards and red cards will not be counted in the next match.
       </p>

       <p>
         A team will be awarded 3 points for a win, 1 for draw, and zero for a
 lost match.
       </p>

       <p>
         In case of tie, goal differences (i.e. Goals FOR minus Goals AGAINST) of all
 the matches played by the team shall be considered.
       </p>

       

    </div>






    {% endblock %}
