<!DOCTYPE html>


<!DOCTYPE html>
{% extends "home/base.html" %}
{% load staticfiles %}

    {% block body_block %}
    <div class="container">
      <div class=" title" align='center'>
          <h1>Gallery</h1>

      </div>


      <div class="row">
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/ath1.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/ath2.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/ath3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/ath4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/bad1.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/bad2.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/bad3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/bad4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/basket2.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/basket3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/basket4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/cricket1.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>


      <div class="row">
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/cricket2.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/cricket3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/cricket4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/volley4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/cricket6.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/football1.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/hockey3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/hockey4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/tt2.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/football2.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/football3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/football4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/football5.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/hockey1.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/hockey2.jpg" %}" class="thumbnail" alt="Image not found">
        </div>

      </div>


      <div class="row">
        <div class="col-md-4 col-xs-6" >
          <img src="{% static "images/gallary/tt3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/tt4.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
        <div class="col-md-4 col-xs-6">
          <img src="{% static "images/gallary/tt3.jpg" %}" class="thumbnail" alt="Image not found">
        </div>
      </div>

        <div class="row">
          <div class="col-md-4 col-xs-6">
            <img src="{% static "images/gallary/tt4.jpg" %}" class="thumbnail" alt="Image not found">
          </div>
          <div class="col-md-4 col-xs-6" >
            <img src="{% static "images/gallary/volley1.jpg" %}" class="thumbnail" alt="Image not found">
          </div>
          <div class="col-md-4 col-xs-6">
            <img src="{% static "images/gallary/volley2.jpg" %}" class="thumbnail" alt="Image not found">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-xs-6">
            <img src="{% static "images/gallary/volley3.jpg" %}" class="thumbnail" alt="Image not found">
          </div>

      </div>
    </div>

    {% endblock %}
