<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Hockey</u></h1>
      <p>
        Hockey is a sport in which two teams play against each other by trying to maneuver a ball or a puck into the opponent's goal using a hockey stick. There are many types of hockey such as bandy, field hockey and ice hockey.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
        Matches shall be played according to the rules of the FIH as adopted
from time to time by the Indian Hockey Federation unless otherwise
modified.
       </p>

       <p>
         The match will be played of 4 quarters of 15 minutes each with
 breaks of 2 minutes each after first and third quarters while 10
 minutes break after half time.
       </p>

       <p>
         The matches shall be played on league cum knock out basis.
 During Stage after the expiry of playtime, if tie still persists, the
 points will be shared equally.
       </p>

       <p>
         Every Team shall submit a list of players, not exceeding 16, who
 may participate in the tournament.
       </p>

       <p>
         No extra time will be given in knockout stage of hockey matches
 even if the match is drawn. There will be no penalty shootout;
 only 8 second rule will be followed to decide the winner.
       </p>

       <p>
         In the 8 second rule, 5 chances shall be given to each team to
 score a goal starting from the 25-yard line within a span of 8
 seconds. If a tie still exists after the given five chances, then
 there will be sudden death.
       </p>

       <p>
         The yellow cards given during the league stages would not be
 counted in in the next match.
       </p>

       <p>
         A team will be awarded 3 points for a win, 1 for draw, and zero
 for a lost match.
       </p>

       <p>
         In case of a tie according to the points, goal differences, (i.e. Goals
 ‘FOR’ minus Goals ‘AGAINST’) of all the matches played by the team
 in tie shall be considered. If the tie still persists, the number of goals
 ‘FOR’ throughout the tournament will be considered. If still the tie
 persists, numbers of goals ‘AGAINST’ throughout the tournament
 will be considered.
       </p>

       <p>
         Self-goals will be not counted as goals against the FIH rules i.e. (if
 the ball touches or is played by a player of the defending team in
 the shooting circle, and then travels over the goal line without first
 leaving the circle, then it will be counted as an “own goal” against
 the defending team)
       </p>


    </div>






    {% endblock %}
