<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Hockey</u></h1>
      <p>
        Hockey is a sport in which two teams play against each other by trying to maneuver a ball or a puck into the opponent's goal using a hockey stick. There are many types of hockey such as bandy, field hockey and ice hockey.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>

       <p>

       </p>


    </div>






    {% endblock %}
