<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Lawn Tennis</u></h1>
      <p>
        Tennis is a racket sport that can be played individually against a single opponent (singles) or between two teams of two players each (doubles). Each player uses a tennis racket that is strung with cord to strike a hollow rubber ball covered with felt over or around a net and into the opponent's court. The object of the game is to play the ball in such a way that the opponent is not able to play a valid return. The player who is unable to return the ball will not gain a point, while the opposite player will.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
        The rules of the International Tennis Federation as adopted from
time to time by the All India Lawn Tennis Association shall apply,
unless otherwise modified. Each match shall be played following
a best of three sets format. The match will be played on the
following sequence first singles, doubles and second singles. The
two singles players on one side are named A & B and two singles
players on the other side are named X & Y.
       </p>

       <p>
         The order of play shall be
 a. 1st Match: A vs. X
 b. 2ndMatch:DoublesMatch
 c. 3rd Match: B vs. Y
       </p>

       <p>
         Players playing at A, B, X and Y will be submitted by the captain
before the start of the match.
       </p>

       <p>
         To win a team has to win 2 out of three matches, if a team wins
 first 2 matches then the third match won’t be played and the
 result will be declared.
       </p>

       <p>
         Each match will be best of three sets; tie break will be played for
the first 2 sets and no tie break for the third and final set. (tie
break of 7 points).
       </p>

       <p>
         Tie will be resolved by successfully applying the following criteria.
1. Individual Matches won/Individual Matches lost.
2. SetswonbytheTeam/Setslostbytheteam.
3. Points for /Points Against-set score to be taken.
       </p>

       <p>
         The score standings, when the match is decided, shall be considered
 for the calculations indicated above.
       </p>

       <p>
         The number of players representing an institute shall not be less than
 two and not more than four. Not more than four certificates will be
 awarded to a team.
       </p>

       <p>
         The general rules for Tennis (Women) are the same. The sequence
 followed would be first singles, doubles and second singles. The
 selected players for the matches will be submitted by the captain
 before the start of the match.
       </p>


    </div>






    {% endblock %}
