<!DOCTYPE html>
{% extends "home/base.html" %}
{% load staticfiles %}

  {% block body_block %}
  <div class="container">
    <div class="text-center row">
      <h4>Convener, Spirit'17</h4>
      <a href="https://www.facebook.com/profile.php?id=100013772162517" target="_blank">
      <img src="{% static "images/himanshu.jpg" %}" alt="Convener" width="150" height="150" class="img-circle" />
      </a>
      <div class="mask">
          <h4><a href="https://www.facebook.com/profile.php?id=100013772162517" target="_blank">Himanshu Mohan</a></h4>
          <p>Phone: +91- 946-252-8167 </p>
          <p>Email: h.mohan@iitg.ac.in</p>
      </div>


    </div>

    <div class="row">
      <div class="text-center col-md-6">
        <h4>PR Head, Spirit'17</h4>
        <a href="https://www.facebook.com/profile.php?id=100011805487021" target="_blank">
        <img src="{% static "images/Shubham.jpg" %}" alt="PR Head" width="150" height="150" class="img-circle" />
        </a>
        <div class="mask">
            <h4><a href="https://www.facebook.com/profile.php?id=100011805487021" target="_blank">Shubham Kumar</a></h4>
            <p>Phone: +91- 912-660-0912 </p>
            <p>Email: shubham.kumar@iitg.ac.in</p>
        </div>

      </div>


      <div class="text-center col-md-6">
        <h4>Event Head, Spirit'17</h4>
        <a href="https://www.facebook.com/samyak.singh2" target="_blank">
        <img src="{% static "images/Samyak2.jpg" %}" alt="Events Head" width="150" height="150" class="img-circle" />
        </a>
        <div class="mask">
            <h4><a href="https://www.facebook.com/samyak.singh2" target="_blank">Samyak Singh</a></h4>
            <p>Phone: +91-985-425-2556 </p>
            <p>Email: s.samyak@iitg.ac.in</p>
        </div>


      </div>
    </div>



      <div class="text-center row">
        <h4>Creatives Head, Spirit'17</h4>
        <a href="https://www.facebook.com/profile.php?id=100008371510153" target="_blank">
        <img src="{% static "images/nishaa.jpg" %}" alt="Creatives Head" width="150" height="150" class="img-circle" />
        </a>
        <div class="mask">
            <h4><a href="https://www.facebook.com/profile.php?id=100008371510153" target="_blank">Nisha Gupta</a></h4>
            <p>Phone: +91- 801-101-4887 </p>
            <p>Email: nisha.gupta@iitg.ac.in</p>
        </div>


      </div>

    </div>







  {% endblock %}
