<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

    {% block body_block %}
    <div class="container eventr">
      <h1 class="eventh text-center "><u>Table Tennis</u></h1>
      <p>
        Table tennis, also known as ping pong, is a sport in which two or four players hit a lightweight ball back and forth across a table using a small bat. The game takes place on a hard table divided by a net. Except for the initial serve, the rules are generally as follows: players must allow a ball played toward them to bounce one time on their side of the table, and must return it so that it bounces on the opposite side at least once. A point is scored when a player fails to return the ball within the rules. Play is fast and demands quick reactions. Spinning the ball alters its trajectory and limits an opponent's options, giving the hitter a great advantage.
      </p>
      <h1 class="eventh text-center text-center "><u>Rules</u></h1>
      <p>
        The rules of the tournament of the International Table Tennis
 Federation as adopted from time to time by the Table Tennis
 Federation of India shall apply unless otherwise modified.
       </p>

        <h2 class="eventh">Team Event <br> Men</h2>

       <p>
         Matches will be held on the basis of five singles.
       </p>

       <p>
         The order of play shall be as follows:
 i) Three players on one side are numbered A, B and C and the three
 players on the other side are numbered X, Y and Z
 a. A > X
 b. B > Y
 c. C > Z
 ii) Order of play shall be:
 1. A vs. X
 2. B vs. Y
 3. C vs. Z
 4. A vs. Y
 5. B vs. X
       </p>

       <p>
         The result of the tie shall be declared when either of the team wins
 three matches. The number of players representing any institute shall
 not be less than three or more than four. Only four certificates shall
 be awarded to a winning team.
       </p>

       <p>
         Each single shall be played on best of five games basis with each game
 of 11 points.
       </p>

       <h2 class="eventh">Men</h2>

       <p>
         Matches will be held on the basis of two singles and one doubles.
 i) The order of play shall be as follows:
 First Match: A vs. X Second Match: Doubles match
 Third Match: B vs. Y
 ii) A, B and X, Y shall be determined by a draw of lots. The result of
 the match shall be declared when either of the team wins 2 matches.
       </p>

       <p>
         Each match will be played following a best of five games format,
 based with each game of 11 points.
       </p>

       <p>
         The number of players representing an institute shall not be less than
 two or more than three.
       </p>

       <p>
         Not more than three certificates will be awarded to a team.
       </p>

       <p>
         Tie will be resolved by successfully applying the following criteria.
 1. Individual Matches Won/Individual Matches Lost
 2. Games won by the Team/Games lost by the team
 3. Points for/Points against.
       </p>

       <p>
         The score standings, when the match is decided, shall be considered
 for the calculations indicated above. The tally for all matches played
 among the tied teams in the league fixture will be considered.
       </p>

       <h2 class="eventh">Singles Event</h2>

       <p>
         Maximum Two players from each team can participate in the Singles
 tournament.
       </p>

       <p>
          Singles will be a best of five, whosoever wins 3, will go to the next round.
       </p>

       <p>
         It will be a knock-out tournament.
       </p>


    </div>






    {% endblock %}
