/*#header{
  background-color: red;
}*/

#wc{
  align-items: center;
  font-family: "Adobe Garamond Pro","Times New Roman", Times, serif;
}

#nav1 a {
  color: #fff;
  font-size: 20px;
  padding-top: 40px;
}

#navbot{
  padding-top: : 30px;
}

#footer {
  background: #fff;
  padding: 60px 0 40px;
}

#footer p {
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
}

#pad {
  color: #fff;

}


#spon {
  padding: 20px;
}

#drop a {
  color: #000;
  padding: 10px;
}

.chevronlabel {
  background-color: #000;
  max-width: 200px;
  height: 30px;
  display: inline-block;
  color: #ffffff;
  box-sizing: border-box;
  font-family: Arial;
  padding: 8px 30px 8px 12px;
  position: relative;
}

.chevronlabel:before {
  content: '';
  position: absolute;
  right: -7.5px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 7.5px solid #000;
  border-bottom: 15px solid transparent;
}



#date{
  font-family: 'Dancing Script';
  color: #A52A2A;
}

.eventr p {
  font-size: 16px;
  padding: 10px 50px;
}

.eventh {
  color: #A52A2A;
  padding: 10px;
}

/*.about{
  border:  25px solid #42f1f4;
  margin: 50px;
  padding: 10px;
}

.head{
  background-color: #42f1f4;
  align-items: center;
  color: white;
}

.img{
  width: 400px;
  height: 300px;
}*/

#sp{
  align-items: center;
  font-family: "Adobe Garamond Pro","Times New Roman", Times, serif;
}

#himg{
  padding-top: 20px;
}



.back_color:hover {
  background-color:#800000 ;
}

.dropdown-item:hover {
  background-color:#800000 ;
}



.fa {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  width: 20px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
